* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Fonte', sans-serif;                                           
    background: linear-gradient(#f2cfc0, #c6cdec);
}

@font-face {
    font-family: 'Fonte';
    src: url('jungle.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.image-container {
    text-align: center;
    padding: 20px 0;
}

.image-container img {
    border: 2px solid rgb(78, 89, 151);
    border-radius: 50%;
    box-shadow: 10px 10px 10px 5px rgba(32, 31, 31, 0.2);
}

.title {
    padding: 20px;
    color: rgb(5, 5, 8);
    font-size: 30px;
    text-align: center;
}

.title p {
    font-size: 25px;
}

.content-box {
    border-radius: 20px;
    margin: 20px auto;
    color: rgb(38, 30, 76);
    font-size: 20px;
    background-color: rgb(97, 91, 91);
    padding: 10px;
    box-shadow: 10px 10px 10px 5px rgba(14, 0, 0, 0.2);
    max-height: 60vh;
    overflow-y: auto;
    width: 90%;
    max-width: 800px; 
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.game_settings {
    padding: 10px;
    border-radius: 15px;
    margin-top: 60px;
    color: rgb(247, 246, 249);
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10px;
}

.painel-instrucoes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(16, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}

.instrucoes-conteudo {
    background: #d19f83;
    padding: 25px;
    border-radius: 8px;
    max-width: 700px;  
    max-height: 90%;  
    width: 90%;
    overflow-y: auto; 
    display: flex;
    flex-direction: column; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    
}

#fechar-instrucoes {
    margin-top: auto; 
    color: black;
    font-family: 'Fonte', sans-serif;        
}

h4 {
    color: #FFD700; 
}

#footer {
    color: white; 
    padding: 10px; 
    position: relative; 
    width: 100%; 
    bottom: 0; 
    text-align: center; 
}

.hidden {
    display: none;
}


.tabuleiro-grid {
    border-collapse: collapse;
    margin: 20px auto;
}

.tabuleiro-grid td {
    width: 60px;
    height: 60px;
    position: relative;
}

/* Estilo para as bolas (casas disponíveis) */
.bola {
    width: 40px; /* Ajuste o tamanho conforme desejado */
    height: 40px; /* Ajuste o tamanho conforme desejado */
    border-radius: 50%; /* Faz com que o botão seja redondo */
    cursor: pointer;
    border: 2px solid transparent; /* Remove a borda padrão */
    background-color: #00ccff; /* Mantém o fundo transparente para a cor do jogador */
    padding: 0; /* Remove o preenchimento */
    display: center; /* Permite centralizar conteúdo dentro do botão, se necessário */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

/* Estilo para as linhas de ligação horizontais */
.linha-horizontal {
    width: 100%;
    height: 5px;
    background-color: #7f8c8d;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* Estilo para as linhas de ligação verticais */
.linha-vertical {
    width: 5px;
    height: 100%;
    background-color: #7f8c8d;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Para esconder algumas linhas em posições específicas */
.invisivel {
    visibility: hidden;
}

.casa-disponivel {
    cursor: pointer;
}

.centro {
    background-color: #f39c12;
}

/* Estilo base para os botões (bolas do jogador) */
.bola-azul, .bola-vermelha {
    width: 40px; /* Ajuste o tamanho conforme desejado */
    height: 40px; /* Ajuste o tamanho conforme desejado */
    border-radius: 50%; /* Faz com que o botão seja redondo */
    cursor: pointer;
    border: 2px solid transparent; /* Remove a borda padrão */
    background-color: transparent; /* Mantém o fundo transparente para a cor do jogador */
    padding: 0; /* Remove o preenchimento */
    display: center; /* Permite centralizar conteúdo dentro do botão, se necessário */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

/* Cores dos botões */
.bola-azul {
    background-color: blue; /* Cor de fundo do botão azul */
}

.bola-vermelha {
    background-color: red; /* Cor de fundo do botão vermelho */
}

/* Evitar que o botão tenha borda ao ser focado */
.bola-azul:focus, .bola-vermelha:focus {
    outline: none; /* Remove a borda de foco */
}


/* Estilo base para células do tabuleiro */
.celula {
    width: 40px; /* Ajuste conforme o tamanho desejado das células */
    height: 40px;
    text-align: center;
    vertical-align: middle;
}


/* Estilo responsivo */
@media (max-width: 768px) {
    .tabuleiro-grid td {
        width: 40px;
        height: 40px;
    }

    .bola {
        width: 30px;
        height: 30px;
    }
}


.mensagem {
    position: absolute;
    display: block;
    top: 20px;        
    left: 20px; 
    background-color: #f0cbcb;
    color: #020206;
    padding: 10px;
    border: 1px solid #b30000;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    max-width: 250px;
    margin: 10px auto;
}

.mensagem-oculta {
    display: none;
}


.painel-classificacoes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(16, 12, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}

.classificacoes-conteudo {
    background: #d19f83;
    padding: 25px;
    border-radius: 8px;
    max-width: 700px;  
    max-height: 90%;  
    width: 90%;
    overflow-y: auto; 
    display: flex;
    flex-direction: column; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    
}

#fechar-classificacoes {
    margin-top: auto; 
    color: black;
    font-family: 'Fonte', sans-serif;        
}







